.background {
	-fx-background-color: #F3F3F4;
}

.hbackground {
	-fx-background-color: #000000;
}

.separator {
	-fx-border-style: solid;
	-fx-background-color: BD8500;
	-fx-border-width: 0 0 0 0; /* its make really one-pixel-border */
	-fx-border-color: FFFFFF;
}

.searchBoxLabel {
    -fx-padding: 0 2 0 7;
}
.searchBoxLabelIcon {
    -glyph-size: 13;
    -glyph-name: SEARCH;
}



.button-type-1 {
	-fx-font-family: "Helvetica Neue";
	-fx-font-size: 20;
	-fx-font-weight: bold;
	-fx-text-fill: white;
	-fx-background-color: #000000;
	-fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0), 5, 0.0, 0, 1);
	-fx-border-radius: 10 10 10 10;
	-fx-border-width: 1 1 1 1;
	-fx-border-color: FFFFFF;
}
.button-type-1:hover {
	-fx-background-color: #222222;
}

.database-label {
	-fx-background-color: #FFFFFF;
	-fx-font-family: "Helvetica Neue";
	-fx-font-size: 14;
	-fx-text-fill: FB2568;
}
.database-label:hover {
	-fx-background-color: #dae7f3;
}

.attribute-value {
	-fx-background-color: #FFFFFF;
	-fx-font-family: "Courier New";
	-fx-font-size: 14;
	-fx-text-fill: FB2568;
}

.process-step-header {
	-fx-background-color: #FFFFFF;
	-fx-font-family: "Helvetica Neue";
	-fx-font-size: 20;
	-fx-font-wieght: bold;
	-fx-text-fill: #BDBDBD;
}

.process-step-description {
	-fx-background-color: #FFFFFF;
	-fx-font-family: "Helvetica Neue";
	-fx-font-size: 14;
	-fx-text-fill: #BDBDBD;
}

.process-step-description-active {
	-fx-background-color: #FFFFFF;
	-fx-font-family: "Helvetica Neue";
	-fx-font-size: 14;
	-fx-text-fill: #000000;
}

.process-step-header-active {
	-fx-background-color: #FFFFFF;
	-fx-font-family: "Helvetica Neue";
	-fx-font-size: 20;
	-fx-font-wieght: bold;
	-fx-text-fill: #47AFD1;
}

.process-tracker {
	-fx-background-color: #FFFFFF;
}

.header-label {
	-fx-background-color: #FFFFFF;
	-fx-font-family: "Helvetica Neue";
	-fx-font-weight: bold;
	-fx-font-size: 18;
	-fx-text-fill: BD8500;
}

.stop-button {
	-fx-font: 18px "helvetica-neue-condensed_0";
	-fx-font-color: yellow;
	-fx-background-color: #C43409;
	-fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0), 5, 0.0, 0, 1);
}

.chart-title {
	-fx-font-size: 20px;
}

.chart-legend {
	-fx-font-size: 16px;
}

.header {
	
}

@font-face {
	font-family: 'HelveticaNeue';
	src: url('resources/fonts/HelveticaNeue.tff');
}

.root dialog-pane .content {
	-fx-font: 20px "Arial" !important;
}